<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Logivag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" integrity="sha384-HtMZLkYo+pR5/u7zCzXxMJP6QoNnQJt1qkHM0EaOPvGDIzaVZbmYr/TlvUZ/sKAg" crossorigin="anonymous">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-900">

    <!-- NAV -->
    <nav class="bg-gray-800 text-white p-4">
        <div class="flex items-center">
            <!-- Volver button on the left -->
            <button onclick="goBack()" class="text-white text-sm mr-2 hover:bg-transparent focus:outline-none">← Volver</button>
            <!-- Logivag with reduced font size -->
            <a href="{% url 'catalogo-view' %}" class="text-xl font-bold text-white">
                Logivag
            </a>
            <div class="flex items-center space-x-4 ml-auto">
                {% if request.user.role.name|lower == "administrador" %}
                <a href="{% url 'user-list' %}" class="hover:bg-gray-700 px-4 py-2 rounded">Usuarios</a>
                {% endif %}
                <a href="{% url 'warehouse-map' %}" class="hover:bg-gray-700 px-4 py-2 rounded">Mapa</a>
                {% if request.user.role.name|lower == "administrador" or request.user.role.name|lower == "operativo" %}
                <a href="{% url 'movement-list' %}" class="hover:bg-gray-700 px-4 py-2 rounded">Movimientos</a>
                {% endif %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Cerrar sesión</button>
                    </form>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="bg-gray-200 text-center py-4">
        <hr class="mb-2">
        <p>&copy; 2025 - Logivag</p>
    </footer>

</body>
</html>
